body {
    margin : 0;
    background : white;
    font-family : 'Arial', serif;
    
}

/* Header */
.header, .sectionone { /* these share styling */
    padding : 20px;
    padding-left : 100px;
    padding-right : 100px;
    background-color: #1F2937;
    color : white;
    display : flex;
    
}
.header {
    justify-content : space-between;
    align-items: center;
}

.headerlogo {
    font-size : 24px;
    color : #F9FAF8;
    font-weight : 700;
    
}

/* Section 1 */
.sectionone {
    display : flex;
    flex-wrap : wrap;
    justify-content: space-between;
}

#sectiononebigtext {
    padding-bottom : 10px;
    font-size : 48px;
}

#sectiononesmalltext {
    padding-bottom : 10px;
    width : 300px;
    font-size : 18px;
    color : #E5E7EB;
}

.signupbutton {
    background-color: #3882F6;
    border : none;
    color : #E5E7EB;
    border-radius : 10px;
    padding : 5px;
    padding-right : 15px;
    padding-left : 15px;
}

.sectiononeimg {
    width : 300px;
    height : auto;
}

.links {
    color : #E5E7EB;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type : none;
}

a
{
    color : inherit;
    text-decoration : none;
}

/* Section 2 */
.sectiontwo {
    display : flex;
    background-color: white;
    flex-flow : wrap column;
    justify-content: center;
    padding : 25px;
    
}
#sectiontwomaintext {
    padding-bottom : 10px;
    font-size : 36px;
    align-self : center;
}
.sectiontwoimg {
    display : flex;
    justify-content: center;
    gap : 10px;

    
}
#two-one, #two-two, #two-three, #two-four { /* 4 smaller images */
    width :  175px;
    height : auto;
    border : 5px solid;
    border-color : #3882F6;
    border-radius : 5px;
}
.sectiontwoimgtext {
    display : flex;
    justify-content: center;
}
#text-two-one, #text-two-two, #text-two-three, #text-two-four {
    width :  200px;
    gap : 10px;

}

/* section 3 */

.sectionthree  {
    display : flex;
    background-color: #E5E7EB;
    flex-flow : wrap column;
    text-align : center;
    padding : 35px;
}

#quote {
 
    font-size : 36px;
    font-style : italic;
}
#signature {
    padding-top : 20px;
    font-size : 24px;
}